.login-content {
    padding: 0px 56px;
}
.login-top {
    height: 100%;
    background-image: url('../../../../assets/tela.png');
}
.login-subtitle {

}
.login-sub-subtitle {
    margin-bottom: 32px;
}
.login-input {
    margin-bottom: 15px;
}
.login-cadastre-se {
    text-align: center;
}
.login-sem-cadastro {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.login-button {
    margin: 24px 0px 29px;
}
.login-content-input {
    padding: 0px 14px 0px 0px;
}
.l-input{
    width: 265px;
    height: 44px;
    background: #FFFFFF;
    border-radius: 10px;
    color: black;
    font-weight: bold;
    padding-left: 15px;
}
.login-button-large {
    width: 100%;
    height: 46px;
    border-radius: 53px;
    border: none;
    display: flex;
    text-align: center;
    font-family: system-ui;
    font-size: 16px;
    font-weight: 500;
    color: white;
    align-items: center;
    justify-content: center;
}
.button-active {
    background: #116C72;
}
.button-disabled {
    background: #A5BDCD;
}
.login-message-error {
    color: #ff5c5c;
    font-size: 14px;
}

input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

