.card-text {
    font-family: 'Poppins Bold';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    background: gray;
    color: #261515;


}

.cardtitle .card-text {
    margin-top: 15px;
    padding: 0px 1px;
    width: 90px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;

}