.nav-bar {
    /* background-color: #12142B; */
    height: 90px;
}

.menuNav {
    overflow-y: scroll;
    list-style: none;
    position: fixed;
    top: 70px;
    background: none;
    left: 0;
    width: 0;
    overflow: hidden;

}

.navbutton {
    background-color: #3fffd2;
}

.menuNav.showMenu {
    background-image: linear-gradient(180deg, #223f5a, #1a1d3c, #12142b, #12142b);
    width: 100%;
    padding: 23px 27px;
    position: absolute;
    z-index: 1;
    font-family: system-ui;
    font-weight: 600;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 24px;
    /* background-image: linear-gradient(180deg, #14324e, #12142b); */
    
}

.showModalPesquisa {
    width: 100%;
    background-image: linear-gradient(180deg, #1b4164, #383838, #000000, #12142b);
    background-color: #12142B;
    /* padding: 23px 27px; */
    position: absolute;
    z-index: 1;
    height: 100%;
}

.cards-pesquisa {
    display: flex;
    flex-wrap: wrap;
}

.pesquisa-sem-conteudo {
    margin: 10px 27px;
}

.text-busca {
    margin: 0px 27px 20px;
    display: flex;
    align-items: flex-end;
    padding-top: 6px;
}

.text-busca-img {
    width: 20px;
    height: 20px;
    padding-right: 5px;
}

a {
    display: block;
    padding: 10px 40px;
    text-decoration: none;
    color: #3fffd2;
    text-transform: uppercase;
    font-weight: bold;
}

.menuNav .nav-ul-li {
    color: white;
    font-size: 17px;
    padding: 0px 0px 10px;
    text-transform: none;
    font-weight: 600;
    text-decoration: none;
}

.nav-ol {
    list-style: none;
    color: white;
    font-size: 16px;
    padding: 0px 0px 15px;
}

.nav-ol-li {
    text-decoration: none;
    list-style: none;
    color: white;
    font-size: 15.5px;
    padding: 0px 17px 4px;
    text-transform: none;
}
.nav-home {
    padding: 0;
}

.nav-ol-li:first-child {
    list-style: none;
    color: white;
    font-size: 15.5px;
    padding: 8px 16px 4px
}

.nav-hamb {
    width: 34.73px;
    height: 31px;
}

.nav-hamb-arrow {
    width: 34.73px;
    height: 30px;
    padding-right: 4px;
}

.nav-bar-components {
    display: flex;
    padding: 14px 27px 16px 27px;
    justify-content: space-between;
    align-items: center;
    /*background-image: linear-gradient(180deg, #1b8fbb, #12142b);*/
}

.nav-logo {
    width: 87.96px;
    height: 63.19px;
}

.nav-search-lupa-open {
    background-color: #116C72;
    width: 47px;
    height: 47px;
    border-radius: 31px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-input-open {
    height: 63.19px;
    display: flex;
    align-items: center;
}

.nav-search-img {
    width: 28px;
    height: 27px;
}

.nav-search-input {
    font-family: system-ui;
    height: 34px;
    width: 182px;
    margin-right: 7px;
    margin-left: 7px;
    border-radius: 12px;
    font-size: 18px;
    background-color: #e1e1e1;;
    color: black;
    padding: 0px 0px 0px 15px;
    font-weight: 600;
    border: none;
    outline: 0;
}

.nav-search-lupa {
    width: 47px;
    height: 47px;
    display: flex;
    align-items: center;
    justify-content: center;
}