.genreIcon {
    border-radius: 10px;
    background-color: #BF7302;
    width: 35px;
    height: 13px;
    left: 196px;
    top: 164px;
    color: white;
    font-size: 9px;
    text-align: center;
    font-family: 'inherit';
}