.genreIcon {
    border-radius: 10px;
    background-color: #BF7302;
    width: auto;
    padding: 0px 7px;
    height: 13px;
    left: 196px;
    top: 164px;
    color: white;
    font-weight: 600;
    font-size: 10px;
    text-align: center;
    line-height: 10px;
    font-family: system-ui;
}