.card {
    width: 92px;
    height: 168px;
    border-radius: 9px;
}
.card:first-child {
    padding-left: 27px;
}
.card:last-child {
    padding-right: 20px;
}
.link-card{ 
    text-decoration: none;
    display: contents;
    text-transform: none;
    padding: 0;
}
.card-body-image {
    margin: 0;
    padding: 0;
}
.card-body-info {
    margin-top: -9px;
    display: flex;
    justify-content: space-between;
}
.card-info-avaliate {
    display: flex;
    padding: 0px 1px;
}
.card-body-time {
    padding-left: 7px;
}