.resposta-duvida-header {
    margin-left: 27px;
    margin-top: 9px;
    margin-bottom: 18px;
}.resposta-duvida-body {
    margin-left: 27px;
}
.resposta-duvida-body-subtitle {
    margin: 15px 0px 16px 0px;
    line-height: 20px;
}
.resposta-duvida-body-text {
    margin: 18px 18px 43px 7px;
}
.resposta-text {
    margin: 6px 0px;
}