.home {
    background-image: linear-gradient(180deg, #1b4164, #383838, #000000, #12142b);
    background-color: #12142B;
    height: 100%;
}
.home-space-carrossel {
    margin-bottom: 20px;
}
.home-space-text {
    margin: 20px 27px 24px;
}
.home-loading {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}