.genero {
    background-color: #12142B;
    height: 100%;
}
.genero-space-carrossel {
    margin-bottom: 20px;
}
.genero-space-text {
    margin: 20px 27px 24px;
} 
.genre-sem-conteudo {
    margin: 0px 27px;
}
