img {
    width: 100px;
    height: 150px; 
}

.class-pequena {
    width: 9.93px;
    height: 8.93px;
}
.class-undefined {
    width: 9.93px;
    height: 8.93px;
}

.class-media {
    width: 20.93px;
    height: 19.93px;
}
